OpenHours/obj/
OpenHoursTests/bin/
OpenHoursTests/obj/project.assets.json
OpenHoursTests/obj/Debug/net45/.NETFramework,Version=v4.5.AssemblyAttributes.cs
OpenHoursTests/obj/
OpenHours/.vs/OpenHours/CopilotIndices/17.14.939.21063/CodeChunks.db
OpenHours/.vs/
OpenHours/bin/
